In [1]:
%reset -f

In [2]:
import pandas as pd
import numpy as np
import os
import sys

In [3]:
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [4]:
os.getcwd()

'C:\\Users\\rajpprit\\Documents\\UK I&I\\Trainings\\Vizcon 2025\\New York city bike data\\notebooks'

In [5]:
os.chdir("..")

In [6]:
os.getcwd()

'C:\\Users\\rajpprit\\Documents\\UK I&I\\Trainings\\Vizcon 2025\\New York city bike data'

In [7]:
os.listdir()

['.virtual_documents',
 'data_processed',
 'data_raw',
 'desktop.ini',
 'notebooks',
 'site']

In [8]:
os.chdir("./data_processed/Pickel files")

In [9]:
os.getcwd()

'C:\\Users\\rajpprit\\Documents\\UK I&I\\Trainings\\Vizcon 2025\\New York city bike data\\data_processed\\Pickel files'

In [11]:
df_2013 = pd.read_pickle("df_2013.pkl")

In [12]:
df_2013.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1010,2013-09-01 00:00:02,2013-09-01 00:16:52,254,W 11 St & 6 Ave,40.735324,-73.998004,147.0,Greenwich St & Warren St,40.715422,-74.011220,15014,Subscriber,1974,1
1,1443,2013-09-01 00:00:09,2013-09-01 00:24:12,151,Cleveland Pl & Spring St,40.721816,-73.997203,497.0,E 17 St & Broadway,40.737050,-73.990093,19393,Customer,\N,0

In [22]:
df_2013.shape

(5614888, 15)

In [19]:
df_2023 = pd.read_pickle("df_2019.pkl")

In [20]:
df_2023.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,369,2019-04-17 14:37:03.8440,2019-04-17 14:43:13.7670,264.0,Maiden Ln & Pearl St,40.707065,-74.007319,330.0,Reade St & Broadway,40.714505,-74.005628,16906,Subscriber,1969,1
1,346,2019-04-17 14:37:01.2250,2019-04-17 14:42:48.1080,411.0,E 6 St & Avenue D,40.722281,-73.976687,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,33738,Subscriber,1974,1

In [21]:
df_2023.shape

(20551697, 15)